{% extends 'main/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <table class="table">
        <tr valign = 'top'>
            <td width = '70px'>
                <img src="{{ user.avatar(128) }}">
            </td>
            <td>
                <h3><b>{{ _('User') }}: </b>{{ user.username }}</h3>
                {% if user.about_me %}<p> {{ user.about_me }} </p>{% endif %}
                {% if user.last_seen %}<p>{{ _('Last seen on') }}: {{ moment(user.last_seen).format('LLLL') }}</p>{% endif %}
                <p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following</p>
                {% if user == current_user %}
                    <a href="{{ url_for('main.edit_profile') }}">{{ _('Edit Your Profile') }}</a>
                {% elif not current_user.is_following(user) %}
                    <p>
                        <form action="{{ url_for('main.follow', username = user.username) }}" method="POST">
                            {{ form.hidden_tag() }}
                            {{ form.submit(value='Follow') }}
                        </form>
                    </p>
                {% else %}
                    <p>
                        <form action="{{ url_for('main.unfollow', username = user.username) }}" method="POST">
                            {{ form.hidden_tag() }}
                            {{ form.submit(value='Unfollow') }}
                        </form>
                    </p>
                {% endif %}
                {% if user != current_user %}
                    <p>
                        <a href="{{ url_for('main.send_message', recipient = user.username) }}">
                            {{ _('Send private message') }}
                        </a>
                    </p>
                {% endif %}
            </td>
        </tr>
    </table>

    {% for post in posts %}
        {% include 'main/_posts.html' %}
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Newer posts') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ _('Older posts') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>

{% endblock %}