{% extends 'bootstrap/base.html' %}

{% block head %}
{{super()}}
    <link rel="icon" type="image/svg" href="{{url_for('static', filename = 'images/tinker_logo.png')}}">
{% endblock %}

{% block title %}
    {% if title %}
        {{ title }} - Tinker ChatRoom
    {% else %}
        Welcome to Tinker Chat
    {% endif %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('home') }}"><img src="{{url_for('static', filename = 'images/tinker_logo.png')}}" width="35", height="35"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">            
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="#">Explore</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">  
            {% if current_user.is_anonymous %}          
                <li><a href="{{ url_for('login') }}">Login</a></li>  
            {% else %} 
                <li><a href="{{ url_for('profile', username = current_user.username) }}">Profile</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>                
            {% endif %}
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
    <div class="container">   
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block app_content %}

        {% endblock %}
    </div>    
{% endblock %}


